@use '/src/styles/variables' as *;
@use '/src/styles/mixinResponsive' as *;

.container {
    background: $primary-color;
    font-family: 'Roboto';

    @include responsive(largeDesktop) {
        background: red;
    }

    @include responsive(desktop) {
        background: orange;
    }

    @include responsive(tablet) {
        background: yellow;
    }

    @include responsive(landscapePhone) {
        background: green;
    }

    @include responsive(portraitPhone) {
        background: indigo;
    }
}
